@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
}

body {
  @apply font-poppins;
}

@layer components {
  .fc .fc-toolbar-title {
    @apply text-sm  text-gray-500;
  }

  .fc .fc-button {
    @apply text-sm px-3 rounded-md;
  }

  .fc .fc-view-harness {
    @apply rounded-lg overflow-hidden border border-gray-100 shadow-md;
  }

  .fc .fc-col-header-cell {
    @apply bg-gray-500 text-gray-100;
  }
}
